.customCursorCont {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
    transition: ease;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}