@import url('https://fonts.cdnfonts.com/css/source-serif-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$bg-primary: black;
$bg-secondary: rgb(43, 43, 43);
$text-primary: #f2f2f2;
$text-secondary: #121212;
$btn-text: #ffdc7d;
$font-family: 'Source Serif Pro', sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Roboto Serif", serif;